@CHARSET "UTF-8";
.bcal-container{
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	padding: 5px;
	border: solid 1px #ccc;
	box-shadow: 0 0 3px #C0C0C0;
}
.bcal-table{
	border-collapse: separate;
	border-spacing: 1px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}
.bcal-table thead th{
	background-color: #fff;
	font-weight: bold;
	color: #463422;
	height: 20px;
	text-align: center;
}
.bcal-table tbody td{
	color: #fff;
	cursor: pointer;
	font-weight: normal;
	height: 25px;
	width: 25px;
	text-align: center;
}
.bcal-table .bcal-empty{
	background-color: #795B3A;
	border: solid 1px #795B3A;
	cursor: default;
}
.bcal-table .bcal-date{
	background-color: #557A35;
	border: solid 1px #3D5625;
}
.bcal-table .bcal-today{
	background-color: #fff;
	color: #006600;
}
.bcal-table .bcal-week{
	background-color: #4A682D;
	border: solid 1px #30441D;
	cursor: default;
}
.bcal-table .bcal-selected{
	background-color: #3D5625;
	border: solid 1px #233215;
	color: #fff;
}
.bcal-table .bcal-over,
.bcal-table .bcal-date:hover{
	background-color: #3D5625;
	border: solid 1px #233215;
	color: #fff;
}