@CHARSET "UTF-8";
.bcal-container{
	background-color: #212121;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	padding: 5px;
}
.bcal-table{
	border-collapse: separate;
	border-spacing: 1px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}
.bcal-table thead th{
	background-color: #212121;
	font-weight: bold;
	color: #fff;
	height: 20px;
	text-align: center;
}
.bcal-table tbody td{
	color: #fff;
	cursor: pointer;
	font-weight: normal;
	height: 25px;
	width: 25px;
	text-align: center;
}
.bcal-table .bcal-empty{
	background-color: #212121;
	cursor: default;
}
.bcal-table .bcal-date{
	background-color: #3F4252;
	border: solid 1px #fff;
}
.bcal-table .bcal-past{
	background-color: #292B36;
	border: solid 1px #E6E1E1;
	color: #666;
	cursor: default;
}
.bcal-table .bcal-today{
	background-color: #1d1d1d;
}
.bcal-table .bcal-week{
	border: solid 1px #fff;
	background-color: #3F3F3F;
	cursor: default;
}
.bcal-table .bcal-selected{
	background-color: #313131;
}
.bcal-table .bcal-over,
.bcal-table .bcal-date:hover{
	background-color: #878BA3;
	border: solid 1px #f1f1f1;
	color: #222;
}